*{ margin:0; padding:0;}
ul,li{ list-style:none;}
a{ color:#666; text-decoration:none;}
a:hover{ text-decoration:none; color:#000;}
img{border:0 none;}
body { font:14px/1.5 Arial; color:#666; background:#EDEDED;}


/*returnTop*/
p#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#back-to-top a:hover{
    color:#979797;
}
p#back-to-top a span{
    border-radius:6px;
    display:block;
    height:64px;
    width:56px;
    margin-bottom:5px;
    /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}

/*header相关*/
.wrapper {
    position: relative;
    margin: 0 auto;
    border: 0
}

.wrapper-992 {
    width: 992px
}

.wrapper-996 {
    width: 996px
}

.menu-bar-at-side #header .menu-nav {
    display: none
}

.menu-bar-at-side #header {
    margin-left: 46px
}

.menu-bar-at-side#page {
    margin-left: 46px
}

.menu-bar-at-side #header_side_menu {
    display: block
}

.menu-bar-at-side .sub-toolbar {
    left: 50px
}

.menu-bar {
    height: 48px;
    text-align: center
}


.menu-bar .left-part {
    float: left;
    margin-top: 10px
}

.menu-bar .right-part {
    float: right;
    margin-left: 20px
}
#nanuku {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 28px;
    background: url(/img/logo.svg) 0 0 no-repeat
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    z-index: 99997;
    background: rgba(0,0,0,.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
}

.header-item {
    position: relative;
    float: left;
    line-height: 28px;
    color: #fff;
    margin-right: 25px;
    cursor: pointer
}

.header-item:hover {
    color: #c90000;
    text-decoration: none
}

.header-item.active {
    color: #c90000
}

.pin {
    width: 236px;
    font-size: 12px; /* background-color:#fff; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3); /* -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3); */
    background-color: #fff;
}

.span-pic-name{
    text-align: left;
    padding: 10px 0 2px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}
.span-pic-time{
    text-align: left;
    padding: 2px 0 2px 16px;
    font-size: 12px;
    color: #999;
}